body {
    background-color: #ffffdc; 
}

/*
hr {
    margin-bottom: 15%;
}
*/

#title {
    text-align: center;
    color: black;
}

#searchBar {
    margin: auto;
    display: block;
    background-color: #242833;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-indent: 3%;

}


#map {
    height: 640px;
    bottom: 5px;
}

#adminLink {
    text-align: center;
    position: relative;
    bottom: 0px;
    text-decoration: none;
    color: black;
}

#sidebar {
    position: fixed;
    background-color: #9db39b;
    z-index: 1000;
    margin:0% 0% 0% 100%;
    width: 50%;
    height: 100%;
    top: 0;
    display: inline;
    box-shadow: 10px 10px 10px 10px;
}

#close {
    font-family: "Verdana";
    display: inline-block; 
    color: black;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

#close:hover {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}
